@page "/AboutUs";

 <Header />

 <WelcomeArea />

<div id="about-container" class="container-fluid mb-20">
    <h3> We are Students of Group-6. </h3>
    <h4> We have created this web-application called MovieApp using the MoviesDatabase API and Blazor(with HTML5 + Bootstrap). </h4>
</div>  

<Footer />

@code {

}