
* {
    background-color: #4A4949;
}

h3{
    font-family: Inter, sans-serif;
    align-items: center;
    color: #FFF;
    padding: 20px;
}

h4{
    font-family: Inter, sans-serif;
    align-items: center;
    color: #FFF;
    padding: 20px;
}
