
#container {
    height: 300px;
    background-color: #E46B6B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mini-boxes {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mini-boxes h3 {
    color: #E46B6B;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: #E46B6B;
}