<div id="container" class="container-fluid">
    <a href="/categories"><div class="mini-boxes">
        <h3>Categories</h3>
    </div></a>
    <a href="/all-titles"><div class="mini-boxes">
        <h3>Titles</h3>
    </div></a>
    <a href="#"><div class="mini-boxes">
        <h3>Ratings</h3>
    </div></a>
</div>

@code {

}