@page "/ContactUs";

 <Header />

 <WelcomeArea />

<div id="movie-image-container" class="row container-fluid">
    <h3> you can contact us at +1 800 567 8900 Or you can email us at MovieRatings@yahoo.com</h3>
</div>  
