@using System.Text.Json.Serialization;
@inject HttpClient httpClient


<div id="movie-image-container" class="row container-fluid">
    <h3>Drama</h3>
        <div id="gallery" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                            @for (int i = 0; i < 5; i++) 
                            {
                                <div class="col">
                                    <a href="#"><img class="img-fluid rounded pb-3" src="@($"https://image.tmdb.org/t/p/w500/{movies.Results[i].PosterPath}")" alt="@movies.Results[i].Title" /></a>
                                </div>
                            }
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        @for (int i = 6; i < 11; i++) 
                        {
                            <div class="col">
                                <a href="#"><img class="img-fluid rounded pb-3" src="@($"https://image.tmdb.org/t/p/w500/{movies.Results[i].PosterPath}")" alt="@movies.Results[i].Title" /></a>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#gallery" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#gallery" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
</div>

@code {
    private MoviesResponse movies;

    protected override async Task OnInitializedAsync()
      
    {
        movies = await httpClient.GetFromJsonAsync<MoviesResponse>("https://api.themoviedb.org/3/discover/movie?api_key=3d16f1e91053992401099962ac5650c9&language=en-US&sort_by=popularity.desc&page=1&with_genres=18");
    }

    public class MoviesResponse
    {
        public int Page { get; set; }
        public List<Movie> Results { get; set; }
    }

    public class Movie
    {
        public string Title { get; set; }
        public string Overview { get; set; }
        public string PosterPath { get; set; }
        [JsonPropertyName("poster_path")]
        public string PosterPathAlt { 
            set { PosterPath = value; } 
        }
    }
}