@page "/Faq";

<Header />

<WelcomeArea />

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          How to Login to MovieApp Application ?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        In the website Home page, top right corner there is a login button. When you click on it, It will redirect into a page where you need to provide user email id and password. 
      </div>
    </div>
    </div>

    <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          What is the purpose of this Application?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        This Movie App application helps in finding the different movies and its ratings. 
      </div>
    </div>
    </div>
  </div>