@using System.Text.Json.Serialization;
@using MovieApp.Shared.Components;
@using MovieApp.Pages;
@inject NavigationManager NavigationManager;

<nav class="navbar">
    <div id="nav-container" class="container-fluid">
        <div class="navbar-brand"><a href="/">Movie<span id="title-ratings-footer">Ratings</span></a></div>

        <form class="d-flex">
            <input id="search-bar-footer" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" @bind-value="@searchTerm">
            <button id="search-button" class="btn" type="submit" @onclick="Search">Search</button>
        </form>

        <ul class="footer-list">
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/ContactUs">Contact Us</a></li>
            <li><a href="/AboutUs">About Us</a></li>
        </ul>
    </div>
</nav>

<div class="copyright-footer">
    <p>Copyright &#169; MovieRatings.com 2023</p>
</div>

@code {

    public string searchTerm { get; set; }

    private async Task Search() 
    {
       NavigationManager.NavigateTo($"/search-results/{searchTerm}");
    }
}