<nav class="navbar-footer">
    <div class="navbar-brand"><a href="/">Movie<span id="title-ratings-footer">Ratings</span></a></div>
    <input type="text" placeholder="Search..." id="search-bar-footer">
    <ul class="footer-list">
        <li><a href="#">FAQ</a></li>
        <li><a href="/ContactUs">Contact Us</a></li>
        <li><a href="/AboutUs">About Us</a></li>
    </ul>
</nav>

<div class="copyright-footer">
    <p>Copyright &#169; MovieRatings.com 2023</p>
</div>

@code {
    
}