
<nav class="navbar">
    <div class="navbar-brand">Movie<span id="title-ratings">Ratings</span></div>
    <input type="text" placeholder="Search..." id="search-bar-header">
    <button type="button" id="login-button">Login</button>
</nav>

@code {
    
}