@using System.Text.Json.Serialization;
@using MovieApp.Shared.Components;
@using MovieApp.Pages;
@inject NavigationManager NavigationManager;
@inject HttpClient httpClient

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-brand"><a href="/">Movie<span id="title-ratings">Ratings</span></a></div>
        <!-- <div>
            <input type="text" placeholder="Search..." id="search-bar-header" @bind-value="@searchTerm">
            <button id="search-button" class="btn" @onclick="Search">Search</button>
        </div> -->

        <form class="d-flex">
            <input id="search-bar-header" class="form-control me-2" type="search" placeholder="Search..." aria-label="Search" @bind-value="@searchTerm">
            <button id="search-button" class="btn" type="submit" @onclick="Search">Search</button>
        </form>
        <button type="button" id="login-button">Login</button>
    </div>
</nav>

@code {
    private MoviesResponse movies;
    public string searchTerm { get; set; }

    private async Task Search() 
    {
        <!-- movies = await httpClient.GetFromJsonAsync<MoviesResponse>($"https://api.themoviedb.org/3/search/movie?api_key=3d16f1e91053992401099962ac5650c9&language=en-US&query={searchTerm}&page=1&include_adult=false"); -->
        NavigationManager.NavigateTo($"/search-results/{searchTerm}");
    }


    public class MoviesResponse
    {
        public int Page { get; set; }
        public List<Movie> Results { get; set; } = new List<Movie>();
    }

    public class Movie
    {
        public string Title { get; set; }
        public string Overview { get; set; }
        public string PosterPath { get; set; }
        [JsonPropertyName("poster_path")]
        public string PosterPathAlt { 
            set { PosterPath = value; } 
        }
    }
}