.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #4A4949;
}

main {
    flex: 1;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

}
