@using System.Text.Json.Serialization;
@inject HttpClient httpClient;
@inject NavigationManager NavigationManager;
@inject IJSRuntime JSRuntime;

<div class="container-fluid">
    <h3>Popular Movies</h3>
        <div id="popular-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                            @for (int i = 0; i < 5; i++) 
                            {
                                <div class="col">
                                    <a href="/movie/{@movies.Results[i].Title}"><img class="img-fluid rounded img-mm" src="@($"https://image.tmdb.org/t/p/w500/{movies.Results[i].PosterPath}")" alt="@movies.Results[i].Title" /></a>
                                </div>
                            }
                        </div>
                    </div>
                <div class="carousel-item">
                    <div class="row">
                        @for (int i = 6; i < 11; i++) 
                        {
                            <div class="col">
                                <a href="/movie/{@movies.Results[i].Title}"><img class="img-fluid rounded img-mm" src="@($"https://image.tmdb.org/t/p/w500/{movies.Results[i].PosterPath}")" alt="@movies.Results[i].Title" /></a>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#popular-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#popular-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
</div>

@code {
    private MoviesResponse movies = new MoviesResponse();

    protected override async Task OnInitializedAsync()
    {
        movies = await httpClient.GetFromJsonAsync<MoviesResponse>("https://api.themoviedb.org/3/movie/popular?api_key=3d16f1e91053992401099962ac5650c9&language=en-US&page=1");
    }

    public class MoviesResponse
    {
        public int Page { get; set; }
        public List<Movie> Results { get; set; } = new List<Movie>();
    }

    public class Movie
    {
        [JsonPropertyName("original_title")]
        public string? Title { get; set; }

        [JsonPropertyName("poster_path")]
        public string? PosterPath { get; set; }

        public string PosterPathAlt { 
            set { PosterPath = value; } 
        }
    }
}