h3 {
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


* {
    background-color: #4A4949;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.img-mm {
    opacity: 0.75;
}

.img-mm:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
}