
#movie-image-container[b-v8zvq9mimm] {
    
}

*[b-v8zvq9mimm] {
    background-color: #4A4949;
}

h3[b-v8zvq9mimm] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
}

a[b-v8zvq9mimm] {
    text-decoration: none;
    cursor: pointer;
}

