
*[b-gxj75euzx4] {
    background-color: #4A4949;
}

h3[b-gxj75euzx4] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

a[b-gxj75euzx4] {
    text-decoration: none;
    cursor: pointer;
}

