
*[b-5h6irzjfq2] {
    background-color: #4A4949;
}

h3[b-5h6irzjfq2] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

a[b-5h6irzjfq2] {
    text-decoration: none;
    cursor: pointer;
}

.img-mm[b-5h6irzjfq2] {
    opacity: 0.75;
}

.img-mm:hover[b-5h6irzjfq2] {
    opacity: 1;
    transition: all 0.3s ease-in;
}