
* {
    background-color: #4A4949;
}

h3 {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.img-mm {
    opacity: 0.75;
}

.img-mm:hover {
    opacity: 1;
    transition: all 0.3s ease-in;
}