@using MovieApp.Models;
@using MovieApp.Clients;
@inject MovieClient MovieClient;
@using MovieApp.Shared.Components;
@page "/movies"

<PageTitle>
    MovieRatings
</PageTitle>

<Header />

<p>@movieResponse</p>

<MovieImages imgUrl="@movieResponse.poster_path" />

<Footer />

@code {
    private MovieResponse? movieResponse = null;
    protected override async Task OnInitializedAsync() {
        movieResponse = await MovieClient.GetMovieResponse();
    }
}