
*[b-3dpwefubni] {
    background-color: #4A4949;
}

h3[b-3dpwefubni]{
    font-family: Inter, sans-serif;
    align-items: center;
    color: #FFF;
    padding: 20px;
}

h4[b-3dpwefubni]{
    font-family: Inter, sans-serif;
    align-items: center;
    color: #FFF;
    padding: 20px;
}
