.navbar[b-6y9f5w9828] {
    background-color: #4A4949;
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 0px 50px;
}

.navbar-brand[b-6y9f5w9828] {
    color: #fff;
    font-size: 24px;
}

#title-ratings-footer[b-6y9f5w9828] {
    color: #E46B6B;
    font-size: 24px;
}

.nav-link[b-6y9f5w9828] {
    color: #fff;
    text-decoration: none;
}

#search-bar-footer[b-6y9f5w9828] {
    background-color: #FFEAEA;
    color: #000;
    min-width: 400px;
    height: 35px;
    border-radius: 10px;
}

.footer-list[b-6y9f5w9828] {
    float: right;
}

.navbar-nav[b-6y9f5w9828] {
    display: flex;
    list-style-type: none;
}

.nav-item[b-6y9f5w9828] {
    margin-right: 10px;
}

ul[b-6y9f5w9828] {
    list-style-type: none;
}

a[b-6y9f5w9828] {
    text-decoration: none;
    color: #fff;
}

.copyright-footer[b-6y9f5w9828] {
    display: flex;
    background: #4A4949;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}

#search-button[b-6y9f5w9828] {
    background: #E46B6B;
    color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    #search-bar-footer[b-6y9f5w9828] {
        max-width: 400px;
        min-width: auto;
    }
    #nav-container[b-6y9f5w9828] {
        justify-content: center;
    }
}