h3[b-7negb51xz6] {
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}


*[b-7negb51xz6] {
    background-color: #4A4949;
}

a[b-7negb51xz6] {
    text-decoration: none;
    cursor: pointer;
}