
.welcome-area[b-edfoh2ohzz] {
    background-color: #E46B6B;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-title[b-edfoh2ohzz] {
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .welcome-area[b-edfoh2ohzz] {
        height: 100px;
    }
    .welcome-title[b-edfoh2ohzz] {
        font-size: 1.3rem;
    }
}