/* /Shared/Components/Categories.razor.rz.scp.css */

#container[b-33z3v26j29] {
    height: 300px;
    background-color: #E46B6B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mini-boxes[b-33z3v26j29] {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.mini-boxes h3[b-33z3v26j29] {
    color: #E46B6B;
    font-size: 30px;
}

a[b-33z3v26j29] {
    text-decoration: none;
    color: #E46B6B;
}
/* /Shared/Components/Drama.razor.rz.scp.css */

*[b-cth7zs5xax] {
    background-color: #4A4949;
}

#movie-image-container[b-cth7zs5xax] {
    max-height: 600px;
}

.col[b-cth7zs5xax] {
    max-height: inherit;
}

.row[b-cth7zs5xax] {
    max-height: 400px;
}

img[b-cth7zs5xax] {
    height: 100%;
    border-radius: 5px;
}

h3[b-cth7zs5xax] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
}

.carousel-control-next[b-cth7zs5xax], .carousel-control-prev[b-cth7zs5xax] {
    width: 10%;
    transition: opacity .5s ease;
}

a[b-cth7zs5xax] {
    text-decoration: none;
    cursor: pointer;
}

.carousel-item[b-cth7zs5xax] {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start[b-cth7zs5xax],
  .carousel-fade .active.carousel-item-end[b-cth7zs5xax] {
    transition: opacity 0s 2.6s;
  }

/* /Shared/Components/Footer.razor.rz.scp.css */
.navbar-footer[b-6y9f5w9828] {
    background-color: #4A4949;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0px 50px;
}

.navbar-brand[b-6y9f5w9828] {
    color: #fff;
    font-size: 24px;
}

#title-ratings-footer[b-6y9f5w9828] {
    color: #E46B6B;
    font-size: 24px;
}

#search-bar-footer[b-6y9f5w9828] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}

.footer-list[b-6y9f5w9828] {
    float: right;
}

ul[b-6y9f5w9828] {
    list-style-type: none;
}

a[b-6y9f5w9828] {
    text-decoration: none;
    color: #fff;
}

.copyright-footer[b-6y9f5w9828] {
    display: flex;
    background: #4A4949;
    width: 100%;
    height: 50px;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}
/* /Shared/Components/Header.razor.rz.scp.css */
.navbar[b-9rzjob31h4] {
    background-color: #4A4949;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    padding: 0px 50px;
}

.navbar-brand[b-9rzjob31h4] {
    color: #fff;
    font-size: 24px;
}

a[b-9rzjob31h4] {
    text-decoration: none !important;
    color: inherit !important;
    cursor: pointer !important;
}

#title-ratings[b-9rzjob31h4] {
    color: #E46B6B;
    font-size: 24px;
}

#search-bar-header[b-9rzjob31h4] {
    background-color: #FFEAEA;
    color: #000;
    width: 700px;
    height: 35px;
    justify-content: center;
    align-items: center;
    float: left;
    border-radius: 10px;
}

.navbar-nav[b-9rzjob31h4] {
    display: flex;
    list-style-type: none;
}

.nav-item[b-9rzjob31h4] {
    margin-right: 10px;
}

.nav-link[b-9rzjob31h4] {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover[b-9rzjob31h4] {
    color: #ccc;
}

#login-button[b-9rzjob31h4] {
    background-color: #FFEAEA;
    color: #000;
    width: 100px;
    height: 35px;
    float: left;
    border-radius: 10px;
}
/* /Shared/Components/Kids.razor.rz.scp.css */

*[b-15xig12kl7] {
    background-color: #4A4949;
}

#movie-image-container[b-15xig12kl7] {
    max-height: 600px;
}

.col[b-15xig12kl7] {
    max-height: inherit;
}

.row[b-15xig12kl7] {
    max-height: 400px;
}

img[b-15xig12kl7] {
    height: 100%;
    border-radius: 5px;
}

h3[b-15xig12kl7] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
}

.carousel-control-next[b-15xig12kl7], .carousel-control-prev[b-15xig12kl7] {
    width: 10%;
    transition: opacity .5s ease;
}

a[b-15xig12kl7] {
    text-decoration: none;
    cursor: pointer;
}

.carousel-item[b-15xig12kl7] {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start[b-15xig12kl7],
  .carousel-fade .active.carousel-item-end[b-15xig12kl7] {
    transition: opacity 0s 2.6s;
  }

/* /Shared/Components/MainLayout.razor.rz.scp.css */
.page[b-on6bid08w3] {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #4A4949;
}

main[b-on6bid08w3] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-on6bid08w3] {
        flex-direction: row;
    }

}
/* /Shared/Components/PopularMovies.razor.rz.scp.css */

*[b-zykhfs0xdy] {
    background-color: #4A4949;
}

#movie-image-container[b-zykhfs0xdy] {
    max-height: 600px;
}

.col[b-zykhfs0xdy] {
    max-height: inherit;
}

.row[b-zykhfs0xdy] {
    max-height: 400px;
}

img[b-zykhfs0xdy] {
    height: 100%;
    border-radius: 5px;
}

h3[b-zykhfs0xdy] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
}

.carousel-control-next[b-zykhfs0xdy], .carousel-control-prev[b-zykhfs0xdy] {
    width: 10%;
    transition: opacity .5s ease;
}

a[b-zykhfs0xdy] {
    text-decoration: none;
    cursor: pointer;
}

.carousel-item[b-zykhfs0xdy] {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start[b-zykhfs0xdy],
  .carousel-fade .active.carousel-item-end[b-zykhfs0xdy] {
    transition: opacity 0s 2.6s;
  }

/* /Shared/Components/Thriller.razor.rz.scp.css */

*[b-lvr6s2n07v] {
    background-color: #4A4949;
}

#movie-image-container[b-lvr6s2n07v] {
    max-height: 600px;
}

.col[b-lvr6s2n07v] {
    max-height: inherit;
}

.row[b-lvr6s2n07v] {
    max-height: 400px;
}

img[b-lvr6s2n07v] {
    height: 100%;
    border-radius: 5px;
}

h3[b-lvr6s2n07v] {
    font-family: Inter, sans-serif;
    color: #FFF;
    padding: 20px;
}

.carousel-control-next[b-lvr6s2n07v], .carousel-control-prev[b-lvr6s2n07v] {
    width: 10%;
    transition: opacity .5s ease;
}

a[b-lvr6s2n07v] {
    text-decoration: none;
    cursor: pointer;
}

.carousel-item[b-lvr6s2n07v] {
    transition: transform 2.6s ease-in-out;
  }
  
  .carousel-fade .active.carousel-item-start[b-lvr6s2n07v],
  .carousel-fade .active.carousel-item-end[b-lvr6s2n07v] {
    transition: opacity 0s 2.6s;
  }

/* /Shared/Components/WelcomeArea.razor.rz.scp.css */

.welcome-area[b-edfoh2ohzz] {
    background-color: #E46B6B;
    height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-title[b-edfoh2ohzz] {
    color: #fff;
    font-size: 30px;
    text-align: center;
}
